<h3>Products List</h3>
<form *ngIf="product" (submit)="editSubmit()">
    <h4 color:red *ngIf="!title.valid">The title must have at least 3 characters.</h4>
    <h4 color:red *ngIf="!price.valid">The product must have a price of at least 0.</h4>

    Title: <input type="text" name="title" [(ngModel)]="product.title" value="product.title" required minlength="3" #title="ngModel">
    Price: <input type="text" name="price" [(ngModel)]="product.price" value="product.price" required min="0" #price="ngModel">
    Image URL: <input type="text" name="image" [(ngModel)]="product.image" value="product.image" required #image="ngModel">
    <input  *ngIf="title.valid && price.valid" type="submit" value="Update">
    <button (click)="deleteProduct(product._id)">Delete</button>
</form>
